a {
	color: #70ad78;
	text-decoration: none;

	transition: filter 0.25s ease;
}

a:hover {
	filter: brightness(1.5) !important;
}



a.button, input[type='button'], input[type='submit'] {
	background-color: #387740;
	padding: 1rem 2rem;
	margin: 0.5rem auto;

	font-family: 'Passion One', sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.125rem;
	text-decoration: none;
	color: #cccccc;

	transition: all 0.25s ease;
}

a.button:hover, input[type='button']:hover, input[type='submit']:hover {
	filter: brightness(1.5);
	letter-spacing: 0.25rem;
}

a.button--large {
	padding: 1.5rem 3rem;
	font-size: 3rem;
}
